.newest_new {
    display: flex;
    color: black;
    gap: 1.5rem;
}


.sub_news {
    display: flex;
    color: black;
    gap: 1.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;

    .sub_news_box {
        flex: 1 0 48%;
        min-width: 300px;
        max-height: 170px;
        background-color: white;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .sub_news_description {
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            margin-top: 0.5rem;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .newest_new {
        flex-wrap: wrap;
    }

}