@use '../../../variable' as v;

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: v.$primary-color;
    height: 2rem;
    // position: fixed;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slogan {
    position: absolute;
    // left: 0;
    margin-right: 10rem;
    margin-left: 3rem;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    animation: 10s linear 0s infinite runSlogan;
}

@media screen and (max-width: 1280px) {
    .nav_item {
        display: none !important;
    }
}


@keyframes runSlogan {
    from {
        right: 0
    }

    to {
        right: 100%
    }
}