.fixed_bg{
    background-attachment: fixed;
    background-image: url('/img/office.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
.footer{
    height: 450px;
}