.fixed_bg {
    background-attachment: fixed;
    background-image: url('/img/office.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.footer {
    min-height: 450px;
}

@media only screen and (max-width: 750px) {
    .footer {
        min-height: 750px;
    }
}